.agmupque{
    padding:0.1vh 0.5vw;
    border:0.1rem solid #bebebe;
    border-radius: 0.25rem;
    width:59.5vw;
}

.agmitem{
    margin-bottom: 1vh;
}

.agmaddnew{
    margin-left:56.75vw;
}

.agmItemNo{
    font-size: 0.7rem;
    font-weight: bolder;
    margin-right:1vw;
}