:root{
    --lightgray:#777777;
    --darkgray:#656565;
    --lightblue:rgb(24, 205, 250);
    --blue:rgb(3, 116, 190);
}

.ftmqaheading, .forftmque, .forftmans{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ftmqaheadingitems{
    font-size: 0.8rem;
    font-weight: bolder;
    color:rgb(7, 54, 124);
    padding:2vh 27.5vw 1vh 2vw;
}

.ftmitems{
    display: flex;
    flex-direction: column;
}

.ftmitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:1vh;
}

.ftmserailno{
    font-size: 0.7rem;
    font-weight: bolder;
    color:rgb(7, 54, 124);
    margin-right: 0.5vw;
}

.forftmque, .forftmans{
    width:45.75%;
    margin-right:0%;
    padding:0.1vh 0.5vw;
}

.ftmimg{
    margin-top: 0.25vh;
}

.ftmaddpair{
    margin-left:56.65vw;
}

.ftmitembox{
    width:25vw;
}

.ftmItemNo{
    font-size: 0.7rem;
    font-weight: bolder;
    margin-right:1vw;
}