:root{
    --lightgray:#777777;
    --darkgray:#656565;
    --lightblue:rgb(24, 205, 250);
    --blue:rgb(3, 116, 190);
}

.qaheading{
    font-size: 0.7rem;
    font-weight: bolder;
    color:rgb(64, 102, 159);
    padding:1.5vh 0 1vh 2vw;
}

.quizitems{
    margin-bottom:1vh;
}

.quizitembox{
    width:52vw;
}

.quizquebox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quizqueitem{
    float:left;
    width:78%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quizupque{
    width:45.5vw;
    padding:0 0.5vw;
    font-size: 0.7rem;
    color:var(--darkgray);
}

.foropt{
    float:right;
    width:22%;
}

.noofoptlabel{
    font-size:0.7rem;
}

.noofoptlabel{
    font-size: 0.7rem;
    color:var(--darkgray);
    font-weight: bolder;
}

.noofopt{
    width:2.5vw;
    margin-left:0.5vw;
    font-size: 0.7rem;
    color:var(--darkgray);
    padding-left:0.25vw;
}

/*--------------------------------------------------------------ans box-----------------------------------------------------------------*/

.quizansbox{
    margin-left:2vw;
    width:84.5%;
    color:var(--darkgray);
    margin-bottom:2vh;
}

.quizansitem{
    font-size:0.7rem;
    color:var(--darkgray);
    font-weight: bolder;
    width:95%;
    display: flex;
    flex-direction: row;
    align-items:center;
    padding:0.1vh 0.5vw;
    border:0.1rem solid #bebebe;
    border-radius: 0.25rem;
    margin-bottom: 0.5vh;
}
.quizansitem:hover{
    border-color: var(--lightblue);
}

.leftoption{
    float: left;
}

.rightoption{
    float: right;
}

.quizoptionname{
    font-size: 0.7rem;
    font-weight: bolder;
    color:rgb(64, 102, 159);
    margin-right: 0.5vw;
}

.forcorrect{
    height: 2rem;
    cursor: pointer;
}
.forcorrect:hover{
    scale:1.1;
}

.optionimg{
    height:2.75vh;
    cursor: pointer;
    margin-left: 0.7vw;
}
.optionimg:hover{
    scale:1.1;
}
.optioinimgaudio{
    height: 2.5vh;
    margin-left:0.6vw;
    margin-top:0.5vh;
}

/* .foroptionsimg input[type="file"], .foroptionsaudio input[type="file"] {
    display: none;
} */



.upanswer{
    font-size: 0.7rem;
    color:var(--lightgray);
    padding:0.5vh 0.25vw;
    margin-left: 0.4vw;
    border:0.1rem solid white;
    border-radius: 0.25rem;
    width:21vw;
}
.upanswer:hover{
    border-color: var(--lightblue);
}

.quizaddque{
    margin-left:56.1vw;
}

.quizItemNo{
    font-size: 0.7rem;
    font-weight: bolder;
    margin-right:1vw;
}

.delopt{
    height: 2vh;
    margin-left:12%;
}

.quizoptans{
    width:10vw;
    margin-left: 0;
}

.quiz_addoption{
    font-size:0.5rem;
    margin-left:0.75vw;
}


.quizdelete{
    margin-left:59.5vw;
    margin-bottom: 1vh;
}